.page {
  /* display: grid;
  grid-template-rows: auto 1fr auto; */
  min-height: 100vh;
}

section {
  margin: 4rem 0;
}

#home-hero {
  background: url(https://biokic.asu.edu/sites/default/files/nhc.jpg);
  background-size: cover;
}

#student-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

#map {
  height: 480px;
}